/* body{
    background: #fff;
} */

@keyframes slide{
    from{
        transform: translateX(600);
    }
    to{
        transform: translateX(-100%)
    }
}

.logos{
    display: flex;
    flex-direction: row;
    gap: 19px;
    overflow: hidden;
    padding: 60px 0;
    background: white;
    white-space: nowrap;
    position: relative;
}

.logos-slide{
    display: flex;
    
    animation: 35s slide infinite linear;
}

.logos-slide img{
    height: 140px;
    margin: 0 40px;
    
}